<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h2>Simple Image Editor</h2>

      <div class="wrapper">
        <div class="editor-panel">
          <div class="filter">
            <label>Brightness</label>
            <input type="range" id="brightness" min="0" max="200" value="100" />
          </div>
          <div class="filter">
            <label>Saturation</label>
            <input type="range" id="saturation" min="0" max="200" value="100" />
          </div>
          <div class="filter">
            <label>Inversion</label>
            <input type="range" id="inversion" min="0" max="100" value="0" />
          </div>
          <div class="filter">
            <label>Grayscale</label>
            <input type="range" id="grayscale" min="0" max="100" value="0" />
          </div>

          <div class="rotate-btns">
            <button id="rotate-left">Rotate Left</button>
            <button id="rotate-right">Rotate Right</button>
          </div>

          <div class="controls">
            <button id="reset-btn">Reset Filters</button>
            <button id="save-btn" class="save">Save Image</button>
            <input type="file" id="file-input" accept="image/*" hidden />
            <button
              class="choose-img"
              onclick="document.querySelector('#file-input').click()"
            >
              Choose Image
            </button>
          </div>
        </div>

        <div class="preview-img">
          <canvas id="canvas"></canvas>
        </div>
      </div>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
